.title {
  margin-top: 50px;
}

.title {
  text-align: center;
}

.registration-form {
  width: 900px;
  margin: auto;
}

.main-form {
  background-color: rgb(150, 182, 192);
}

.container {
  background-color: rgb(176, 189, 230);
}

.box {
  background-color: black;
  color: azure;
  width: 100%;
  padding: 10px;
}
/*registration form*/

.submitButton {
  text-align: center;
}
